{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    {% if status %}
    <h5 class="text-center">{{status}}</h5>
    {% else %}
    <h1 class="text-center">Active Listings</h1>
    <hr>
    {% endif %}
    {% for i in data %}
    {% if user.is_authenticated %}
    <a class="row shadow text-decoration-none text-dark" href="{% url 'listing-detail-page' i.id %}">
        <div class="col-lg-4 p-2">
            <img src="/media/{{i.img}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 my-auto">
            <h4>{{i.title}}</h4>
            <h5>Price: {{i.price}}$</h5>
            <p>{{i.description|truncatechars:150}}</p>
            <em>{{i.created_at}}</em>
        </div>
    </a>
    {% else %}
    <div class="row shadow">
        <div class="col-lg-4 p-2">
            <img src="/media/{{i.img}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 my-auto">
            <h4>{{i.title}}</h4>
            <h5>Price: {{i.price}}$</h5>
            <p>{{i.description|truncatechars:150}}</p>
            <em>{{i.created_at}}</em>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}